---
services:
    momo:
      container_name: momo
      image: "ugentlib/momo"
      ports:
        - 3000:3000
      environment:
        MOMO_PG_CONN: "host=momo-postgres port=5432 user=momo password=password dbname=momo_dev sslmode=disable"
        MOMO_ES6_URL: "http://momo-elastic:9200"
        MOMO_HOST: "localhost"
        MOMO_SSL: "false"
        MOMO_OIDC_URL: ""
        MOMO_OIDC_CLIENT_ID: ""
        MOMO_OIDC_CLIENT_SECRET: ""
    momo-postgres:
        container_name: momo-postgres
        image: postgres
        environment:
            - POSTGRES_PASSWORD=password
            - PGDATA=/var/lib/postgresql/data/pgdata
        ports:
            - 5432:5432
        volumes:
            - ./init-user-db.sh:/docker-entrypoint-initdb.d/init-user-db.sh
            - db01:/var/lib/postgresql/data
    momo-elastic:
        container_name: momo-elastic
        image: elasticsearch:6.8.14
        environment:
            - "discovery.type=single-node"
        ports:
            - 9200:9200
            - 9300:9300
        volumes:
            - es01:/usr/share/elasticsearch/data
    momo-citeproc:
        container_name: momo-citeproc
        image: librecat/citeproc-node
        ports:
            - 8085:8085
volumes:
    db01:
        driver: local
    es01:
        driver: local
