---
version: '3'

services:
    momo-postgres:
        container_name: momo-postgres
        image: postgres
        environment:
            - POSTGRES_PASSWORD=password
            - PGDATA=/var/lib/postgresql/data/pgdata
        ports:
            - 5432:5432
        volumes:
            - ./init-user-db.sh:/docker-entrypoint-initdb.d/init-user-db.sh
            - db01:/var/lib/postgresql/data

    momo-elastic:
        container_name: momo-elastic
        image: elasticsearch:6.8.14
        environment:
            - "discovery.type=single-node"
        ports:
            - 9200:9200
            - 9300:9300
        volumes:
            - es01:/usr/share/elasticsearch/data
volumes:
    db01:
        driver: local
    es01:
        driver: local
